<!DOCTYPE html>
<html lang="en">

<head>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Tacostagram</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <% if @current_user %>
              Logged in as: <%= @current_user["first_name"] %> |
              <a href="/logout" class="btn btn-default">Logout</a>
            <% else %>
              <a href="/login" class = "btn btn-primary" >Login</a> |
              <a href="/users/new" class = "btn btn-primary">Sign Up</a> |
            <% end %>
            <a href="/posts/new/" class = "btn btn-primary">New Post</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

  <div>
    <%= flash["notice"] %>
  </div>


  <%= yield %>
</body>
</html>
